<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}<title>Quiz App</title>{% endblock title %}
        <meta name="description" content="Simple quiz app made with Django.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'CSS/style.CSS' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kite+One&display=swap" rel="stylesheet">
    </head>
    <body style="font-family: 'Kite One'">
        <header>
            <ul class="ulist">
                <li class="list" style="float:left"><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li class="list"><a href="{% url 'account_logout'%}">Logout</a></li>
                    <li class="list"><a href="{% url 'list'%}">Quizes</a></li>
                {% else %}
                    <li class="list"><a href="{% url 'account_login'%}">Login</a></li>
                    <li class="list"><a href="{% url 'account_signup'%}">Register</a></li>
                {% endif %}
            </ul>
        </header>
        <main>
        {% for message in messages %}
            <div>
                <h1 style="color: red; text-align: center">{{message}}</h1>
            </div>
            <br />
            <br />
        {% endfor %}
        {% block context %}
        {% endblock context %}
        </main>
        <footer>
        </footer>    
        <script src="" async defer></script>
    </body>
</html>