{% extends 'main.html' %}
{% block context %}
<div>
    {% for data in all_list%}
        <h1>{{data}}</h1>
    {% endfor %}
</div>
<form>
    <div>
        <input type="checkbox" id="choice_1" name="choice_1" value="choice_1">
        <label for="choice_1">Choice 1</label>

        <input type="checkbox" id="choice_2" name="choice_2" value="choice_2">
        <label for="choice_2">Choice 2</label>

        <input type="checkbox" id="choice_3" name="choice_3" value="choice_3">
        <label for="choice_3">Choice 3</label>

        <input type="checkbox" id="choice_4" name="choice_4" value="choice_4">
        <label for="choice_4">Choice 4</label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock context %}